.page-layout {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center;
  min-height: 1px; /* Garante altura mínima de 100% da viewport */
  text-align: center;
  margin-top: 100px;
}

header, footer {
  width: 100%;
  padding: 10px 0; /* Adicione um espaço interno para melhorar o visual */
}

main {
  width: 100%;
  max-width: 800px;
  margin: 20px auto; /* Centraliza o main e adiciona margem superior e inferior */
  padding: 20px;
}